@model PayrollExpertApp.Data.Company

@section scripts {
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datetimepicker1').datepicker();
        });
    </script>
}

<div class="col-md-10 panel-primary">
    <div class="content-box-header panel-heading">
        <div class="panel-title">Company - Create</div>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active col-lg-6" id="tab1">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OperatingName" class="control-label"></label>
                        <input asp-for="OperatingName" class="form-control" />
                        <span asp-validation-for="OperatingName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CBABusinessNumber" class="control-label"></label>
                        <input asp-for="CBABusinessNumber" class="form-control" />
                        <span asp-validation-for="CBABusinessNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationDate" class="control-label"></label>
                        <div class='input-group date' id='datetimepicker1'>
                            @Html.TextBoxFor(m => m.RegistrationDate, "{0:yyyy-MM-dd}", new { @class = "form-control" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WebsiteURL" class="control-label"></label>
                        <input asp-for="WebsiteURL" class="form-control" />
                        <span asp-validation-for="WebsiteURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SigningOfficer" class="control-label"></label>
                        <input asp-for="SigningOfficer" class="form-control" />
                        <span asp-validation-for="SigningOfficer" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Directors" class="control-label"></label>
                        <input asp-for="Directors" class="form-control" />
                        <span asp-validation-for="Directors" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
