@model PayrollExpertApp.Data.Address
<div class="col-md-10 panel-primary">
    <div class="content-box-header panel-heading">
        <div class="panel-title">Address - Edit</div>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane active col-lg-12" id="tab1">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group hidden">
                        <label asp-for="PersonId" class="control-label"></label>
                        <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                        <span asp-validation-for="PersonId" class="text-danger"></span>
                    </div>
                    <div class="form-group hidden">
                        <label asp-for="CompanyId" class="control-label"></label>
                        <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId"></select>
                        <span asp-validation-for="CompanyId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="Type" class="form-control" asp-items="ViewBag.AddressTypes"></select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="AddressLine1" class="control-label"></label>
                        <input asp-for="AddressLine1" class="form-control" />
                        <span asp-validation-for="AddressLine1" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="AddressLine2" class="control-label"></label>
                        <input asp-for="AddressLine2" class="form-control" />
                        <span asp-validation-for="AddressLine2" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="AddressLine3" class="control-label"></label>
                        <input asp-for="AddressLine3" class="form-control" />
                        <span asp-validation-for="AddressLine3" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Province" class="control-label"></label>
                        <input asp-for="Province" class="form-control" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <input asp-for="PostalCode" class="form-control" />
                        <span asp-validation-for="PostalCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @if (ViewBag.CompanyId != null)
                        {
                            <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Company", new { id = ViewBag.CompanyId})'" />
                        }
                        else
                        {
                            <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "People", new { id = ViewBag.PersonId})'" />
                        }
                        <input type="submit" value="Save" class="btn btn-default" name="postvalue" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
