@model ForgotPasswordViewModel

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <form asp-action="ForgotPassword" method="post">
                    <div class="box">
                        <div class="content-wrap">
                            <h6>Enter your email</h6>
                            <input asp-for="Email" class="form-control" placeholder="E-mail address" type="text" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <div class="action">
                                <button type="submit" class="btn btn-primary signup">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="already">
                        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Back to login</a>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
