@model RegisterViewModel

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div class="box">
                        <div class="content-wrap">
                            <h6>Sign Up</h6>
                            <input asp-for="Email" class="form-control" placeholder="E-mail address" type="text"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            <div class="action">
                                <button type="submit" class="btn btn-primary signup">Sign Up</button>
                            </div>
                        </div>
                    </div>
                    <div class="already">
                        <p>Have an account already?</p>
                        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
